body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto
}
.header{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}
.logo-link{
    margin-right: 52px;
}
.nav-menu{
    display: flex;
}
.nav-menu-item{
    margin-right: 30px;
}
.nav-menu-link{
    color: rgba(255, 255, 255, 0.5);
}


/* hero */

.film-date{
    display: block;
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}
.film-description{
    font-size: 16px;
    line-height: 140%;
    max-width: 423px;
    margin: 40px 0 70px;
    color: rgba(255, 255, 255, 0.8);
}

/* button */
.buttom-group{
    margin-top: 70px;
    margin-bottom: 144px;
}
.button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-primary{
    background: #FFFFFF;
    color: #8D0019;
}
.button-icon, .button-text{
    display: inline-block;
    vertical-align: middle;
}
.button-text{
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
}

/* hero */
.venom{
    position: absolute;
    top: 0;
    right: 0;
}
.blood{
    background: url('../img/blood.png') no-repeat top right, #14131A url('../img/background.jpg') no-repeat center;
}